.delivery {
  padding: 80px 0 112px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% center;

  &__content {
    max-width: 330px;
    margin-left: 140px;
    padding: 20px 5px;
    color: #1f1f1f;
    background-color: rgba(#fff, 0.72);
  }

  &__title {
    margin-bottom: 15px;
    text-align: center;
    font-size: 43px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 3.34px;
  }

  &__block {
    margin-bottom: 15px;
  }

  &__descr {
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 20.01px;
    letter-spacing: 1.87px;

    .delivery-icon {
      flex: none;
      margin-right: 5px;
    }
  }

  &__list {
    padding-left: 43px;
  }

  &__item {
    font-size: 20px;
    font-weight: 400;
    line-height: 20.01px;
    letter-spacing: 1.84px;
  }
}