.our-team {
  padding: 40px 0 60px;
  background-color: $section-color;
  color: #1f1f1f;
  text-align: center;

  &__text {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2.76px;
  }

  &__contacts {
    margin: 40px 0 60px;
    display: flex;
    justify-content: space-between;

    &-person {
      padding: 5px;
      width: 19%;

      &:hover {

        .our-team__contacts-btn,
        .our-team__contacts-icon {
          transform: scale(1);
        }
      }
    }

    &-card {
      position: relative;
      margin-bottom: 5px;

      img {
        max-width: 100%;
      }
    }

    &-btn {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 60px;
      height: 60px;
      line-height: 50px;
      border: 4px solid #ffffff;
      border-radius: 50%;
      background-color: #1ead23;
      transform: scale(.5);
      transition: transform .2s;
    }

    &-icon {
      transform: scale(0);
      transition: transform ease .7s;
    }

    &-name {
      letter-spacing: 2.7px;
    }

    &-link {
      letter-spacing: 2.02px;
    }

    &-name,
    &-link {
      white-space: nowrap;
      font-size: 21px;
      font-weight: 400;
      line-height: 25px;
    }

    &-link {
      display: block;
      color: #1f1f1f;
    }
  }

  &__btn {
    display: inline-block;
  }

}