.header {
  // padding-top: 30px;
  padding-top: 115px;
  background-color: $global-blue;

  &__top {
    margin-bottom: 60px;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__contacts {
    text-align: right;

    &-link {
      display: block;
      color: #ffffff;
      font-family: Tahoma;
      font-size: 26px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 2.6px;

      &.company {
        text-transform: uppercase;
      }
    }

    &.mobile {
      display: none;
      text-align: left;
    }
  }

  &__bottom {
    overflow-x: hidden;
  }

}