section.advantages
  .container
    h2.advantages__title Причины выбрать нас
    .advantages__content
      .advantages__content-item
        .advantages__content-descr
          h5.advantages__content-title собственная торговая марка
          ul.advantages__content-list
            li -сертификаты качества;
            li -всё согласно ГОСТу;
        .advantages__content-img
          img(src="static/images/content/own_trademark.jpg", alt="Собственная торговая марка")
      .advantages__content-item
        .advantages__content-descr
          h5.advantages__content-title Собственные склады
          ul.advantages__content-list
            li -широкий асортимент;
            li -двигателя всегда в наличии;
        .advantages__content-img
          img(src="static/images/content/own_storage.jpg", alt="Собственные склады")
      .advantages__content-item
        .advantages__content-descr
          h5.advantages__content-title 100% гарантия
          ul.advantages__content-list
            li -полная гарантия 1 год;
            li -послегарантийный и гарантийный ремонт;
        .advantages__content-img
          img(src="static/images/content/service.jpg", alt="Лучшая цена")
      .advantages__content-item
        .advantages__content-descr
          h5.advantages__content-title Лучшая цена
          ul.advantages__content-list
            li -являемся диллерами восьми заводов;
            li -мониторинг рынка;
            li -скидки постоянным и оптовым клиентам;
        .advantages__content-img
          img(src="static/images/content/best_price.jpg", alt="100% гарантия")
