section.delivery(style="background-image:url('static/images/content/delivery_bg.jpg')")
  .container
    .delivery__content
      h2.delivery__title Доставка
      .delivery__block
        p.delivery__descr
          span.delivery-icon
          span Службами перевозки
        ul.delivery__list
          li.delivery__item -Новая почта
          li.delivery__item -Деливери
          li.delivery__item -Ин-тайм
          li.delivery__item -САТ
          li.delivery__item -Ночной экспресс
      .delivery__block
        p.delivery__descr
          span.delivery-icon
          span Самовывоз
      .delivery__block
        p.delivery__descr
          span.delivery-icon
          span Доставка транспортом предпиятия
