section.our-team
  .container
    p.our-team__text Более подробная информация в нашем 
      a.our-team__btn(href="#") Интернет-магазине
    p.our-team__text И у наших менеджеров
    .our-team__contacts
      .our-team__contacts-person
        .our-team__contacts-card
          img(src="static/images/content/lukyanenkov.png", alt="Сергей Лукьяненков")
          a.our-team__contacts-btn(href="")
        span.our-team__contacts-name Сергей <br> Лукьяненков
        a.our-team__contacts-link(href="tel:+380677479796") (067)747-97-96
        a.our-team__contacts-link(href="mailto:2@tmmotor.ua") 2@tmmotor.ua
      .our-team__contacts-person
        .our-team__contacts-card
          img(src="static/images/content/letyuk.png", alt="Виктория Летюк")
          a.our-team__contacts-btn(href="")
        span.our-team__contacts-name Виктория <br> Летюк
        a.our-team__contacts-link(href="tel:+380675577922") (067)55-77-922
        a.our-team__contacts-link(href="mailto:8@tmmotor.ua") 8@tmmotor.ua
      .our-team__contacts-person
        .our-team__contacts-card
          img(src="static/images/content/gavrish.png", alt="Александр Гавриш")
          a.our-team__contacts-btn(href="")
        span.our-team__contacts-name Александр <br> Гавриш
        a.our-team__contacts-link(href="tel:+380669401724") (066)940-17-24
        a.our-team__contacts-link(href="mailto:4@tmmotor.ua") 4@tmmotor.ua
      .our-team__contacts-person
        .our-team__contacts-card
          img(src="static/images/content/barabash.png", alt="Максим Барабаш")
          a.our-team__contacts-btn(href="")
        span.our-team__contacts-name Максим <br> Барабаш
        a.our-team__contacts-link(href="tel:+380503567327") (050)356-73-27
        a.our-team__contacts-link(href="mailto:5@tmmotor.ua") 5@tmmotor.ua
      .our-team__contacts-person
        .our-team__contacts-card
          img(src="static/images/content/ternovoy.png", alt="Александр Терновой")
          a.our-team__contacts-btn(href="")
        span.our-team__contacts-name Александр <br> Терновой
        a.our-team__contacts-link(href="tel:+380509182531") (050)918-25-31
        a.our-team__contacts-link(href="mailto:info2@tmmotor.ua") info2@tmmotor.ua
    p.our-team__text Нашли дешевле? Сделаем скидку от цены конкурента