section.repair(style="background-image:url('static/images/content/repair_bg.jpg')")
  .container
    h2.repair__title ремонт электродвигателей
    ul.repair__list
      li.repair__item
        span.repair__icon.winding
        span.repair__text замена обмоток, пропитка, сушка
      li.repair__item
        span.repair__icon.bearings
        span.repair__text замена подшипников и ремонт подшипниковых узлов
      li.repair__item
        span.repair__icon.restoration
        span.repair__text реставрация и балансировка вала, напрвление, проточка
      li.repair__item
        span.repair__icon.repairs
        span.repair__text ремонт корпуса, сварочные и токарные работы
      li.repair__item
        span.repair__icon.spares 
        span.repair__text запчасти для двигателей
      li.repair__item
        span.repair__icon.painting
        span.repair__text покраска и визуальная реставрация