//- footer.footer
//-   .container
//-     .footer__content-wrap
//-       .footer__content-payment
//-         h6.footer__content-payment-title оплата
//-         ul.footer__content-payment-list
//-           li.footer__content-payment-item
//-             span.footer__content-payment-icon.cash
//-             span.footer__content-payment-text наличными
//-           li.footer__content-payment-item
//-             span.footer__content-payment-icon.card
//-             span.footer__content-payment-text на карту “приватбанка”
//-           li.footer__content-payment-item
//-             span.footer__content-payment-icon.cashless
//-             span.footer__content-payment-text безналичная оплата
//-           li.footer__content-payment-item
//-             span.footer__content-payment-icon.imposed
//-             span.footer__content-payment-text наложеным платежем
//-       .footer__content-rights
//-         p Все права защищены
//-       .footer__content-contacts
//-         span.footer__content-contacts-adress г. Новая Каховка
//-         span.footer__content-contacts-adress ул. Заводская 2-Д
//-         a.footer__content-contacts-link(href="tel:+380509182531") (050)918-25-31
//-         a.footer__content-contacts-link(href="tel:+380673428840") (067)342-88-40
//-         a.footer__content-contacts-link(href="mailto:info@nkpromelectro.com.ua") info@nkpromelectro.com.ua
//-         a.footer__content-contacts-link(href="mailto:nkpromelectro.com.ua") nkpromelectro.com.ua
        